.main{
    width: 100%;
  
    display: grid;
    grid-template-rows: 100px 300px 100px 100px;
    grid-template-columns: 2fr 2fr;
    grid-area: 
    "header header"
    "text" "contact"
    "social" "send"
    "footer" "footer";
}
.header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    
}
.text{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
   
}
.contact{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 4;

}
.social{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  
}
.send{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 4;
  
}
.footer{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
  
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box; 
    text-decoration: none;
    list-style: none;
}

.container{
    position: relative;
    max-width: 94rem;  
    padding: 2rem 5rem;    
    margin: 0 auto;   
    
   

}
.logo{
     color:  rgb(221, 207, 9);
    font-size: 2rem;
    font-weight: 400;
    font-family: 'poppins' sans-se rif;
    transition: .3s ease-in-out;
    rotate: 360deg;
}
.logo:hover{
    transform-style: preserve-3d;
    transform: scale(1.2);
}
nav{
    width: 100%;
    position: relative;
}
header{
    background-color: #000;
    width: 100%;
    position: fixed;
}

a{ 
    
    text-decoration: none;
    font-family: 'poppins' sans-serif;
}
ul{
    list-style-type: none;
}
nav .container{
    display: flex;
    justify-content: space-between;
   align-items: center;

}
.navigation ul{
    display: flex;
  
}
.navigation a{
    color:  rgb(221, 207, 9);
    display: inline-block;
    padding: 0 1rem;
    text-transform: uppercase;
    font-weight: 400;
}
.navigation a:hover,a.active{
    color: #fff;
    border: 1px solid rgb(221, 207, 9);
}
.contact{
    display: flex;
   margin-top: 5em;
}
.text{
    display: flex;
    align-items: center;
    margin-top: 10em;
    margin-right: 2em;
}
h1{
    margin-left: 6em;
}
.social img {
    width: 2rem;
    margin-left: 4em;
}
.social{
    display: flex;
    align-items: center;
    margin-right: 10em;
}
#send{
    position: relative;
    top: 2em;
    right: 3em;
}
textarea{
    border: 2px solid #000;
    box-shadow: rgb(221, 207, 9);
}
body{
    background-color: rgb(238, 232, 232)
}

.links img{
    width: 20px;
    height: 20px;
    margin-left: 6em;
}
.links p{
    margin-left: 10em;
    color: #fff;
}
.links{
    display: flex;
    margin-top: 6em;
  

}
footer{
    background-color: #000;
   
}
@media screen and  (max-width:825px) {
    .main{
        grid-template-rows: 100px 100px 500px 100px 100px ;
        grid-template-columns: 1fr;
        grid-template-areas: 
        "header"
        "test"
        "contact"
        "social"
        "footer";
    }
    .header{
        grid-row-start: 1;
        grid-row-end: 2;
        grid-column-start: 1;
        grid-column-end: 2;

    }
    .text{
        grid-row-start: 2;
        grid-row-end: 3;
        grid-column-start: 1;
        grid-column-end: 2;

    }
    .contact{
        grid-row-start: 3;
        grid-row-end: 4;
        grid-column-start: 1;
        grid-column-end: 2;

    }
    .social{
        grid-row-start: 4;
        grid-row-end: 5;
        grid-column-start: 1;
        grid-column-end: 2;

    }
    .footer{
        grid-row-start: 5;
        grid-row-end: 6;
        grid-column-start: 1;
        grid-column-end: 2;

    }
    .contact{
        margin-top: 8em;
        margin-left: 13em;
    }
 
    
}
.btton{
    display: none;
    cursor: pointer;
    font-size: 25px;
    float: right;
    
}
@media screen and (max-width:780px) {
    
    .checker{
        display: none;
    }
    @media screen and (max-width:768px) {
          .btton{
            margin-top: 1em;
            margin-right: 35em;
         }
        ul{
            position: fixed;
            left: 0em;
            top: 2em;
            width: 25%;
            margin-top: 4em;
            display: flex;
            flex-direction: column;
            background-color: #000000ab;
            z-index: 100;
        }
        ul li {
            padding: 2em;
            
            width: 27vw;
            font-size: 15px;
        
        } 
        /* .footeer{
            padding: 0;
            margin: 0;
        }
        .navigation{
            padding: 0;
            margin: 0;
        } */
       
        
    } 
    
}