
.main{
  width: 100%;
   height: 100vh;
   display: grid;
   align-items: center;
   grid-template-rows: 100px 1fr 1fr 1fr 50px;
   grid-template-columns: 1fr 1fr 1fr;

}
.header{
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
    
    
}
.grid1{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
    
}
.grid2{
    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;
   
}
.grid3{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
  
}
.grid4{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 2;
  
}
.grid5{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 2;
    grid-column-end: 3;
    
}
.grid6{
    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 3;
    grid-column-end: 4;
 
}
.grid7{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 2;
  
}
.grid8{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 2;
    grid-column-end: 3;
   
}
.grid9{
    grid-row-start: 4;
    grid-row-end: 5;
    grid-column-start: 3;
    grid-column-end: 4;
   
}
.footer{
    grid-row-start: 5;
    grid-row-end: 6;
    grid-column-start: 1;
    grid-column-end: 4;
    /* background-color: #000; */
   
}
.logo{
    font-size: 2rem;
    font-weight: 400;
    transition: .3s ease-in-out;
    rotate: 360deg;
}
.logo:hover{
    transform-style: preserve-3d;
    transform: scale(1.2);
}

.header{
    position: relative;
    width: 100%;
    height: 100px;
    color: rgb(221, 207, 9);
   background-color: #000;
}
.container{
    max-width: 94rem;  
    padding: 2rem 5rem;    
    margin: 0 auto;   
    display: flex;
    justify-content: space-between;
   align-items: center;
}
.navigation ul{
    display: flex; 
    list-style: none;
}
.navigation a{
    color: rgb(221, 207, 9);
    display: inline-block;
    padding: 0 2rem;
    text-transform: uppercase;
    font-weight: 400;
    text-decoration: none;
}
.navigation a:hover,a.active{
    color: #fff;
    border: 1px solid rgb(221, 207, 9);
}
img{
    width: 100px;
    height: 100px;
    border-radius: 50px;
    cursor: pointer;
}
.grid1{
    font-family: 'dancing script' cursive;
    margin-bottom: 8em;
    margin-left: 4em;
}
.grid2  img{
    display: flex;
    flex-direction: column;
    position: relative;
    /* top: 3em; */
    left: 4em;
    transform: scale(1);
    transition: .3s ease-in-out;
}
.grid2 #img1{
    margin-top: 2em;
}
.grid2 img:hover{
transform: scale(1.2);
}
.grid2 p{
    color: #000;
    position: relative;
    left: 4em;
}
.grid4 p{
    color: #000;
    position: relative;
    left: 14em;
}
.grid4 img{
    display: flex;
    flex-direction: column;
    position: relative;
    left: 14em;
    transform: scale(1);
    transition: .3s ease-in-out; 
    rotate: 180deg;
}
.grid4 img:hover{
    transform: scale(1.2); 
}
.grid6 img{
    display: flex;
    flex-direction: column;
    position: rrelative;
    right: 10rem;
    transform: scale(1);
    transition: .3s ease-in-out;  
}
.grid1 h1{
    transition: all .5s linear;
}
.grid1 h1:hover{
    color: rgb(221, 207, 9);
}
.grid6 p{
    color: #000;
}
.grid6 img:hover{
    transform: scale(1.2); 
}
.grid8 img{
    display: flex;
    flex-direction: column;
   position: relative;
   transform: scale(1);
    transition: .3s ease-in-out;   
}

.gri8 p{
    
    color: #000;
}
.grid8 img:hover{
    transform: scale(1.2); 
}
.social img {
    width: 30px;
    height: 30px;
    padding: 1rem;
}
.social{
    display: flex;
}
.links img{
    width: 20px;
    height: 20px;
    margin-left: 3em;
   position: relative;
   bottom: 6em;
}
.footer .links{
    display: flex;
    margin-top: 8em;
}
.links p{
    color: rgb(221, 207, 9);
    position: relative;
   bottom: 6em;
   /* left: 2em; */
}
.footer{
    margin-top: 4em;
    background-color: #000;
    height: 100px;
}
body{
    background-color: rgb(238, 232, 232);
}

.checker{
    display: none;
}
@media screen and (max-width:810px) {
   *{
       margin: 0;
       padding: 0;
   }
    .main{
        grid-template-rows: 100px 400px 400px  100px;
        grid-template-columns: 1fr 1fr;
        grid-template-areas: 
        "header header"
        "grid2 grid4"
        "grid6 grid8"
        
        "footer footer";

    }
        .header{
            grid-row-start: 1;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
            position: fixed;
            margin-bottom: 30em;
        }
        .grid2{
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 1;
            grid-column-end: 2;
            z-index: 2;
        }
        .grid4{
            grid-row-start: 2;
            grid-row-end: 3;
            grid-column-start: 2;
            grid-column-end: 3;
           

        }
        .grid6{
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 1;
            grid-column-end: 2;

        }
        .grid8{
            grid-row-start: 3;
            grid-row-end: 4;
            grid-column-start: 2;
            grid-column-end: 3;

        }
    .footer{
        grid-row-start: 4;
            grid-row-end: 5;
            grid-column-start: 1;
            grid-column-end: 3;

    }
}
@media screen and (max-width:994px) {
    .header{
        position: relative;
        bottom: 4em;
        width: 100%;
        font-size: 12px;
    }
    .navigation{
        position: fixed;
    }
    .logo{
        font-size: 14px;
    }
    h1{
        display: none;
    }
    .grid2{
        position: relative;
        bottom: 4em;
        left: 8em;
    }
     .grid4{
        position: relative;
        top: 10em;
        right: 14em;
    }
    .grid6{
        position: relative;
        bottom: 3em;
        left: 12em;
    }
    .grid8{
        position: relative;
        top: 9em;
    }
    
}
.button{
    display: none;
    cursor: pointer;
    font-size: 25px;
    float: right;
}
  
    @media screen and (max-width:768px) {
       .header{
           position: relative;
           width: 100%;
       }
        .button{
            margin-top: 1em;
            margin-right: 35em;
         }
        ul{
            position: fixed;
            left: 0em;
            top: .9em;
            width: 25%;
            margin-top: 4em;
            display: flex;
            flex-direction: column;
            background-color: #000000ab;
            z-index: 100;
        }
        ul li {
            padding: 2em;
            width: 27vw;
            font-size: 15px;
        
        } 
        .header{
            width: 100vw;
            position: relative;
        }
    
    }
    